<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout-form}">
<head>
  <title>Login</title>
</head>
<body>
  <section layout:fragment="content" class="common-form">
    <h1>Login</h1>

    <form th:action="@{/login}" method="POST">
      <label for="username">Username:</label>
      <input id="username" name="username" type="text" required autocomplete="username" />

      <label for="password">Password:</label>
      <input id="password" name="password" type="password" required autocomplete="current-password" />

      <div th:if="${param.error != null}" style="color: red; margin-bottom: 1rem;">
        Username o password errati
      </div>

      <button type="submit" class="btn-submit">Accedi</button>
    </form>

	<div class="register-container">
	  <a th:href="@{/register}" class="register-link">Registrati</a>
	</div>
  </section>
</body>
</html>
