<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Gestione Autori</title>
  <link rel="stylesheet" href="/css/admin-index.css" />
</head>

<body>
	<body>
	  <section layout:fragment="content" class="admin-content">
	    <div class="admin-box">
	      <h2 class="admin-title">Gestione Autori</h2>

	      <nav>
	        <a href="/author" class="btn-admin">Lista autori</a>
	        <a href="/author/new" class="btn-admin">Inserisci un nuovo autore</a>
	        <a href="/author/edit" class="btn-admin">Gestisci autori</a>
	      </nav>
	    </div>
	  </section>
	</body>

</body>
</html>
