<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Gestione Libri</title>
  <link rel="stylesheet" href="/css/admin-index.css" />
</head>

<body>
	<body>
		  <section layout:fragment="content" class="admin-content">
		    <div class="admin-box">
		      <h2 class="admin-title">Gestione Libri</h2>

		      <nav>
		        <a href="/book" class="btn-admin">Lista libri</a>
		        <a href="/book/new" class="btn-admin">Inserisci un nuovo libro</a>
		        <a href="/book/edit" class="btn-admin">Gestisci libri</a>
		      </nav>
		    </div>
		  </section>
</body>
</html>
