<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout-form}">
<head>
  <title>New Review</title>
</head>
<body>
  <section layout:fragment="content">
    <h1>Aggiungi una recensione</h1>
    <form th:action="@{'/book/' + ${book.id} + '/newReview'}" method="POST" th:object="${review}" class="common-form">
      <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>

      <label>Titolo:</label>
      <input required type="text" th:field="*{title}" />
      <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>

      <label>Voto:</label>
      <input required type="number" th:field="*{rating}" min="1" max="5" />
      <span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></span>

      <label>Testo:</label>
      <textarea th:field="*{text}" required></textarea>
      <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></span>

      <button type="submit">Conferma</button>
    </form>
  </section>
</body>
</html>
