<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Libri</title>
  <link rel="stylesheet" href="/css/card-grid.css" />
</head>

<body>
  <section layout:fragment="content">
    <h1>Libri</h1>

    <div th:if="${books.isEmpty()}">Non ci sono libri nel sistema</div>

    <div class="card-grid">
      <div class="card" th:each="book : ${books}">
        <a th:href="@{'/book/' + ${book.id}}">
          <img th:src="@{/images/book-default.jpg}" alt="Copertina libro" />
          <h2 th:text="${book.title}">Titolo</h2>
          <p th:text="${book.year}">Anno</p>
        </a>

        <div class="admin-actions" th:if="${isAdmin}">
          <a th:href="@{'/book/' + ${book.id} + '/edit'}">Modifica</a>
          <form th:action="@{'/book/' + ${book.id} + '/delete'}" method="post">
            <button type="submit">Elimina</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
