<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout-form}">
<head>
  <title>Login</title>
</head>
<body>
  <section layout:fragment="content">
    <div><a href="/"><img src="/images/logo-siw.png" width="20%"/></a></div>
    <h1>Login</h1>

    <form th:action="@{/loginAsUser}" method="POST" class="common-form">
      <button type="submit">Login come Utente</button>
    </form>

    <form th:action="@{/loginAsAdmin}" method="POST" class="common-form">
      <button type="submit">Login come Admin</button>
    </form>

    <form th:action="@{/login}" method="POST" class="common-form">
      <label>Username:</label>
      <input name="username" type="text" required />

      <label>Password:</label>
      <input name="password" type="password" required />

      <div th:if="${param.error != null}" style="color: red;">Username o password errati</div>

      <button type="submit">Login</button>
    </form>

    <div><a th:href="@{/register}">Registrati</a></div>
  </section>
</body>
</html>
