<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Autori</title>
</head>

<body>
  <section layout:fragment="content">
    <h1>Autori</h1>

    <div th:if="${authors.isEmpty()}">Non ci sono autori nel sistema</div>

    <ul>
      <li th:each="author : ${authors}">
        <a th:href="@{'/author/' + ${author.id}}"
           th:text="${author.name} + ' ' + ${author.surname}"></a>
        
        <div th:if="${isAdmin}">
          <a th:href="@{'/author/' + ${author.id} + '/update'}">modifica</a>
          <form th:action="@{'/author/' + ${author.id} + '/delete'}" method="post" style="display:inline;">
            <button type="submit">Elimina</button>
          </form>
        </div>
      </li>
    </ul>
  </section>
</body>
</html>
