<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title layout:title-pattern="$CONTENT_TITLE - SIW Books">SIW Books</title>
  <link rel="stylesheet" href="/css/layout.css" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/footer.css" />
</head>

<body>
	<div class="header-container">
	  <div class="header-logo">
	    <a th:href="@{/home}">
	      <img src="/images/logo.png" alt="Logo SIW" />
	    </a>
	  </div>

	  <div th:replace="~{fragments/navbar :: navbar}"></div>
	</div>


  <main layout:fragment="content" class="main-content"></main>

  <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
