<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">

<head>
  <title>Home</title>
</head>

<body>
  <section layout:fragment="content">
    <h1>Benvenuto <span th:text="${username}"></span>!</h1>

    <div sec:authorize="hasAuthority('ADMIN')">
      <a href="admin/bookIndex">Operazioni sui libri</a><br>
      <a href="admin/authorIndex">Operazioni sugli autori</a>
    </div>
  </section>
</body>
</html>
