<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title th:text="${book != null} ? ${book.title} : 'Libro'">Libro</title>
</head>

<body>
  <section layout:fragment="content">
    <div th:if="${book}">
      <h1 th:text="${book.title}">Titolo libro</h1>
      <div>Anno: <span th:text="'(' + ${book.year} + ')'">2000</span></div>
      <div>
        <img th:src="${book.urlImage}" width="30%" alt="Copertina libro"/>
      </div>

      <div th:if="${book.authors.isEmpty()}">Il libro non ha autori</div>
      <ul>
        <li th:each="author : ${book.authors}">
          <a th:href="@{'/author/' + ${author.id}}"
             th:text="${author.name} + ' ' + ${author.surname}"></a>
        </li>
      </ul>

      <div th:if="${book.reviews.isEmpty()}">Il libro non ha recensioni</div>
      <ul>
        <li th:each="review : ${book.reviews}">
          <a th:href="@{'/review/' + ${review.id}}"
             th:text="${review.title}"></a>
        </li>
      </ul>

      <a sec:authorize="isAuthenticated()" 
         th:href="@{'/book/' + ${book.id} + '/review'}">
         Aggiungi una recensione
      </a>
    </div>

    <div th:unless="${book}">Non esiste</div>
  </section>
</body>
</html>
